body 
{
    font-family: Courier, monospace;
    background-color: #00979C
}

#logo
{
    border: 1px solid #FFFFFF;
}


h2
{
    text-align: center;
    color: #00979C;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}